<launch>
  
  <rosparam command="load" file="$(env USER_HOME)/autoware.ai/autoware_files/lgsvl_file/parameter/lgsvl_pure_pursuit.yaml" />

  
  <include file="$(find pure_pursuit)/launch/pure_pursuit_params.launch">
    
    <arg name="lookahead_ratio" value="1.2" />
    <arg name="minimum_lookahead_distance" value="6.0" />

    <arg name="const_velocity" value="5.0" />
    <arg name="const_lookahead_distance" value="4.0" />
    <arg name="is_linear_interpolation" value="True" />
    <arg name="publishes_for_steering_robot" value="True" />
    <arg name="add_virtual_end_waypoints" value="False" />
    <arg name="wait_until_reaching_max_velocity" value="True" />
  </include>

  
  <include file="$(find twist_filter)/launch/twist_filter_params.launch">
    
    <arg default="2.7" name="wheel_base" />
    <arg default="5.0" name="lateral_accel_limit" />
    <arg default="5.0" name="lateral_jerk_limit" />
    <arg default="0.0" name="lowpass_gain_linear_x" />
    <arg default="0.0" name="lowpass_gain_angular_z" />
    <arg default="0.0" name="lowpass_gain_steering_angle" />
    <arg default="40" name="max_stop_count" /> 
    
    <arg default="30.0" name="loop_rate" />
    <arg default="false" name="use_decision_maker" />
  </include>
</launch>